/*字体*/
@font-face {
	font-family: "PingFang SC Light";
	font-style: normal;
	src: url('../font/PingFang SC Light.woff2')format('woff2');
	font-display: swap;
}

@font-face {
	font-family: "PingFang SC Regular";
	font-style: normal;
	src: url('../font/PingFang SC Regular.woff2')format('woff2');
	font-display: swap;
}

@font-face {
	font-family: "PingFang SC Medium";
	font-style: normal;
	src: url('../font/PingFang SC Medium.woff2')format('woff2');
	font-display: swap;
}

/*全局*/

html {
	margin: 0;
	padding: 0;
	background: #f1f3f1;
}
body {
    font-size: 18px;
    color: #333;
    background: white;
    font-family: "PingFang SC Light", Arial,Helvetica;
	
    line-height: 1.6;
    margin-left:14%;
    margin-right:14%;
    padding:4% 7% 10%;
	
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}

/*标题*/
h1,h2,h3{
	font-family: "PingFang SC Regular";
}

h4,h5,h6,p {
	font-family: "PingFang SC Light";
}
h1 {
	font-size: 2.2em;
	font-weight: 700;
	line-height: 1.1;
	padding-top: 16px;
	padding-bottom:6px;
	margin-bottom: 4px;
	border-bottom: 1px dashed #AAA;
}
h2, h3, h4, h5, h6 {
	line-height: 1.5em;
	margin-top: 2.2em;
	margin-bottom: 4px;
}
h2 {
	font-size: 1.6em;
	margin: 40px 10px 20px 0;
	padding-left: 9px;
	border-left: 6px solid #ff7e79;
	font-weight: 700;
	line-height: 1.4;
}
h3,h4,h5,h6 {
	line-height: 1.4;
	margin: 10px 0 5px;
	padding-top: 10px;
}
h3 {
	font-weight: 700;
	font-size: 1.2em;
}
h4 {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.1em;
}
h5, h6 {
	font-size: 18px;
}
h5 {
	font-weight: bold;
	text-transform: uppercase;
}
h6 {
	font-weight: normal;
	color: #AAA;
}
/*图片*/

img {
	width: 100%;
	border-radius: 15px;
	display: block;
	margin-bottom: 15px;
	height: auto;
	position: relative;
	box-shadow: 0px 1px 6px 3px #dddddd;

}

/*dl自定义列表，ol有序列表，ul无序列表，li列表项目，footnotes脚注*/
dl, ol, ul {
	margin-top: 12px;
	margin-bottom: 20px;
	padding-left: 5%;
	line-height: 1.8;
}
ol p, ul p {
	margin-bottom: 0px;
}
li {
	margin-bottom: 0.75em;
	margin-top: 0.75em;
}
ol#footnotes {
	font-size: 0.95em;
	padding-top: 1em;
	margin-top: 1em;
	margin-left: 0;
	border-top: 1px solid #eaeaea;
	counter-reset: footer-counter;
	list-style: none;
	color: #555;
	padding-left: 5%;
	margin: 20px 0;
}
ol#footnotes li {
	margin-bottom: 10px;
	margin-left: 16px;
	font-weight: 400;
	line-height: 2;
	list-style-type: none;
}
ol#footnotes li:before {
	content: counter(footer-counter) ". ";
	counter-increment: footer-counter;
	font-weight: 800;
	font-size: .95em;
}
/*段落*/
p {
	margin: 0 0 20px;
	padding: 0;
	line-height: 1.8;
	text-align: justify;
}
/*超链接或锚*/
a {
	color: #f22f27;
	text-decoration: none;
	border-bottom: 1px dashed #f22f27;
}
a:hover {
	color: white;
	/*text-decoration: underline;*/
	text-decoration: none;
	background: #ff7e79;
}
a:focus {
	outline-offset: -2px;
}
/*块引用*/
blockquote {
	font-size: 1em;
	font-style: normal;
	padding: 30px 38px;
	margin: 0 0 15px;
	position: relative;
	line-height: 1.8;
	text-indent: 0;
	border: none;
	color: #888;
}
blockquote:before {
	content: "“";
	left: 12px;
	top: 0;
	color: #E0E0E0;
	font-size: 4em;
	font-family: Arial, serif;
	line-height: 1em;
	font-weight: 700;
	position: absolute;
}
blockquote:after {
	content: "”";
	right: 12px;
	bottom: -26px;
	color: #E0E0E0;
	font-size: 4em;
	font-family: Arial, serif;
	line-height: 1em;
	font-weight: 700;
	position: absolute;
	bottom: -31px;
}
/*strong加粗 em dfn斜体 del划掉 hr水平分割线*/
strong, dfn {
	font-weight: 700;
}
em, dfn {
	font-style: italic;
	font-weight: 400;
}
del {
	text-decoration: line-through;
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}

/*代码块code*/
pre {	
    background-color: #423d43;
	padding: 10px 16px;
	border-radius: 5px;
}
/*文内代码inline code*/
pre code {
	background: none;
	color: #A9B7C6;
	border-radius: 4px;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	padding: 2px 4px;
	font-size: 90%;
}
code {
	color: #f22f27;
	background-color: #ededeb;
	border-radius: 4px;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	padding: 2px 4px;
	font-size: 90%;
}
/*图表*/
figure {
	margin: 1em 0;
}
figcaption {
	font-size: 0.75em;
	padding: 0.5em 2em;
	margin-bottom: 2em;
}
figure img {
	margin-bottom: 0px;
}
/*按钮*/
button {
	font-family: "PingFang SC Regular";
}

/*选中文字颜色搭配*/
::selection { background:#dae3ea;}
pre ::selection { background:3e4451;color:white;}
/*动画*/
@keyframes highfade {
	0% {
		background-color: none;
	}
	20% {
		background-color: yellow;
	}
	100% {
		background-color: none;
	}
}
@-webkit-keyframes highfade {
	0% {
		background-color: none;
	}
	20% {
		background-color: yellow;
	}
	100% {
		background-color: none;
	}
}
a:target, ol#footnotes li:target, sup a:target {
	animation-name: highfade;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	-webkit-animation-name: highfade;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-in-out;
}
a:target {
	border: 0;
	outline: 0;
}
animation-iteration-count: 1;
-webkit-animation-timing-function: ease-in-out;
}
a:target {
	border: 0;
	outline: 0;
}
tion-iteration-count: 1;
-webkit-animation-timing-function: ease-in-out;
}
a:target {
	border: 0;
	outline: 0;
}